.order-page-div {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.order-summary-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  align-self: center;
  box-shadow: var(--primary-color) 2px 7px 7px 0px;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
  height: fit-content;
}

.order-summary-div h3 {
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

.order-summary-div p {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}
