@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #813772;
  --white-color: #fff;
}

.footer {
  background-color: var(--primary-color);
  padding: 1rem 0.5rem;
  text-align: center;
  color: var(--white-color);
  border-top-right-radius: 1rem;
  font-family: "Wix Madefor Display", sans-serif;
  /* margin-top: 1rem; */
}

.footer .footer-header {
  font-weight: 500;
  /* font-size: x-large; */
}

.footer a {
  color: var(--white-color);
}

.footer ul {
  padding-inline-start: 0px;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
